
@{
    ViewBag.Title = "Home";
}

<h2>Game of SelfieWelfie.</h2>
<link href="~/Content/style.css" rel="stylesheet" />
<div class="">
    <div class="centered">
        <div class="login">
            <p class="submit"><input type="submit" name="Login" value="Login">
            </p>
        </div>
        <div class="login">
            <p class="submit"><input type="submit" name="commit" value="Register"></p>
        </div>
        </div>

</div>

